.nav-selected { 
  color: lightblue;
  text-decoration: none;
  border-bottom: lightblue solid 1px
}

.nav-selected > a:link{ 
  color: lightblue;
  text-decoration: none;
}

.nav-selected > a:visited {
  color: lightblue;
  text-decoration: none;
}

.nav-selected > a:hover  { 
  color: lightblue;
  text-decoration: none;
}
