.nav-selected {
  text-decoration: none;
  border-bottom: #FFFF5F solid 1px
}

.nav-selected > a:link, .nav-selected > a:visited, .nav-selected > a:hover{ 
  color: #FFFF5F;
  text-decoration: none;
}