@import "../utilities/variables";
@import "../utilities/theme_base";

.nav-selected {
  text-decoration: none;
  @include themed() {
    border-bottom-color: theme-get($head);
  }
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-selected > a:link, .nav-selected > a:visited, .nav-selected > a:hover{ 
  @include themed() {
    color: theme-get($head);
  }
  text-decoration: none;
}