@import "../utilities/variables";
@import "../utilities/theme_base";

.nav-not-selected {
  text-decoration: none;
}

.nav-not-selected > a:link, .nav-not-selected > a:visited { 
  text-decoration: none;
  @include themed() {
    color: theme-get($text);
  }
}

.nav-not-selected > a:hover  { 
  text-decoration: none;
  @include themed() {
    color: theme-get($head);
  }
}