@import "../utilities/variables";

.nav-not-selected {
  text-decoration: none;
}

.nav-not-selected > a:link, .nav-not-selected > a:visited { 
  color: $primary_text_color;
  text-decoration: none;
}

.nav-not-selected > a:hover  { 
  color: $color_dark_three;
  text-decoration: none;
}