.nav-not-selected {
  text-decoration: none;
}

.nav-not-selected > a:link, .nav-not-selected > a:visited { 
  color: #fff;
  text-decoration: none;
}

.nav-not-selected > a:hover  { 
  color: slategray;
  //color: #d3d3d3;
  text-decoration: none;
}