@import "../utilities/theme_base";

nav {
    height: 5vh;
    line-height: 5vh;
    font-size: 25px;
    @include themed() {
      background: theme-get($bg-overlay);
      color: theme-get($head);
    }
    display: flex;
    min-height: 30px
  }
  
  nav > div {
    display: inline-block;
    @include fluid-type(width, 600px, 1200px, 30vw, 10vw);
    text-align: center;
  }
  
#btn_theme {
  @include themed() {
    color: theme-get($head);
  }
  background-color: transparent;
  @include fluid-type(width, 600px, 1200px, 10vw, 3vw);
  margin-left: auto;
  min-width: 30px;
  cursor: pointer;
  border: 0px none;
}

#btn_theme_svg {
  height: 24px;
  width: 24px;
  display: inline-flex;
  vertical-align: middle;
  @include themed() {
    fill: theme-get($head);
  } 
}