nav {
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: #00001A;
  }
  
  nav > div {
    display: inline-block;
    width: 200px;
    text-align: center;
  }
  
  nav > div {
    display: inline-block;
    width: 200px;
    text-align: center;
  }