nav {
    height: 5vh;
    line-height: 5vh;
    font-size: 25px;
    background-color: #00001A;
  }
  
  nav > div {
    display: inline-block;
    @include fluid-type(width, 600px, 1200px, 30vw, 10vw);
    text-align: center;
  }
  