@import "../utilities/variables";

.project-body {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.project-card {
    background-color: #00001A;
    height: fit-content;
    width: 30vw;
    @include fluid-type(min-width, 600px, 1200px, 90vw, 30vw);
    margin: 5vw;
    text-align: center;
    display: inline-grid;
}

.project-image {
    width: 250px;
    height: 225px;
    overflow: hidden;
    margin: auto;
}