/*
* Color Palette
*   #000022 - Dark Blue
*   #0C1F34 - Blue
*   #102945 - Blue
*   #555252 - Dark Grey
*   #efebf3 - Light Grey
*   #C1C181 - light yellow
*   #FFFF5F
*   
*/

html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  background-color: #000022;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4 {
  color: #fff;
}

h3{
  color: #FFFF5F;
}

h4{
  color: #C1C181;
}

b {
  font-weight: bold;
}


h1 {
  padding-left: 10px;
}

h3, h4 {
  text-align: left;
  margin: 5px 0px;
}

i {
  color: #fff;
  
}

tr {
  color: #fff;
}

p {
  color: #fff;
}

li {
  color: #fff;
}

ul {
  text-align: center;
  width: 50px;
} 

a {
  color: #FFFF5F;
}

a::before{
  color: #FFFF5F;
}

a::after{
  color: #C1C181;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}