html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  background-color: #001B3A;
}

h1, h2, h3, h4 {
  color: #fff;
}

h1 {
  padding-left: 10px;
}

h3, h4 {
  text-align: left;
  line-height: 1px;
  padding-top: 15px;
  padding-bottom: 0px;
  margin: 0px;
}

p {
  color: white;
}

li {
  color: white;
}

ul {
  text-align: center;
  width: 50px;
} 