//https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
//$bg: 'bg';
$card-bg: 'card-bg';
$card-border: 'card-border';
$text: 'text';
$text-important: 'text-important';
$text-secondary: 'text-secondary';
$text-badge: 'text-badge';
$link: 'link';
$hover: 'hover';
$logo: 'logo';
$logo2: 'logo-2';
$brand-secondary: 'brand-blue';
$brand-primary: 'brand-red';
$border: 'border';

$themes: (
        default: (
                'bg': #8835b4,
                card-bg: $bg--card--light,
                text: $text--light,
                text-secondary: $text--2--light,
                hover: $hover--light,
                border: $border--light
        ),
        dark: (
                'bg': #8835b4,
                card-bg: $bg--card--dark,
                text: $text--dark,
                text-secondary: $text--2--dark,
                hover: $hover--dark,
                border: $border--dark
        ),
);


@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function t($key) {
    @return map-get($theme-map, $key);
  }
