/*
* This simply holds the light theme colors
*/

$bg--light: #102A43;
$bg-overlay--light: rgba(16, 42, 67, 0.92);
$text--light: rgba(255, 255, 255, 0.8);
$text-disabled--light: rgba(255, 255, 255, 0.4);
$header-text--light: #F0F4F8;
$subhead-text--light: #F0F4F8;
$text-color--light: #39ace7;