/*
* This simply holds the dark theme colors
*/

$bg--dark: #102A43;
$bg-overlay--dark: rgba(16, 42, 67, 0.92);
$text--dark: #BCCCDC;
$header-text--dark: #F0F4F8;
$subhead-text--dark: #F0F4F8;



/*
text dark color: #bdc1c6
background dark color: #202124
*/

// colors for text
//$primary_text_color: #FFFFFF;
//$sub_header_text_color: khaki;
//$header_text_color: #FFFF5F;
//$third_text_color: #C1C181;

// colors for background
/*
$color_light_black: #00001A;
$color_dark_black: #000022;
$color_off_white: #F7F7F7;
$color_dark_three: slategray;
*/