// Static vars used to make the reference easier
/*#region  Static Vars*/
$bg: 'bg';
$text: 'text';
$head: 'head';
$subhead: 'subhead';
$bg-overlay: 'bg-overlay';
$text-disabled: 'text-disabled'; 
/*#endregion*/


//potential font family
//$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
//$font-family--title: 'Montserrat-SemiBold', 'Montserrat', $font-family;