/*
* This simply holds the light theme colors
*/

$bg--light: #ffffff;
$bg-overlay--light: rgba(0, 0, 0, 0.08);
$text--light: rgba(0, 0, 0, 0.8);
$text-disabled--light: rgba(0, 0, 0, 0.4);
$header-text--light: #000000;
$subhead-text--light: #000000;
$text-color--light: #0d0f91;