// colors for text
$primary_text_color: #FFFFFF;
$sub_header_text_color: khaki;
$header_text_color: #FFFF5F;

// colors for background
$color_light_black: #282c34;
$color_dark_black: #20232a;
$color_off_white: #F7F7F7;