@import "../utilities/theme_base";

.about-body {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    @include themed() {
        background-color: theme-get($bg);
    } 
}

.about-side-tab {
    display: flex;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
}

.about-img-social-container {
    display: flex;
    align-items: center;
    width: 30%;
    flex-wrap: wrap;
}

.about-image-container {
    margin: auto;
}

.about-image {
    border-radius: 150px;
    min-width: 150px;
    min-height: 150px;
    width: 15vw;
    height: 15vw;
    max-width: 250px;
    max-height: 250px;
}

.about-social-media {
    width: 200px;
    margin: auto;
}

.about-sum-tech-container {
    width: 70%;
}

.about-content {
    display: inline-grid;
    vertical-align: top;
    padding: 20px;
}

.about-paragraph {
    text-align: left;
    margin: 0px;
}

.about-header {
    font-size: 3em;
}

.about-sub-header {
    @include themed() {
        color: theme-get($text-color);
    }
    font-size: 1em;
}

.about-skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-skills-block {
    display: flex;
    padding: 20px;
    justify-content: center;
    width: 275px;
}

.about-skills-name {
    padding: 0px 10px;
    width: 150px;
    font-size: 1.25rem;
    @include themed() {
        color: theme-get($head);
    }
}

.about-skills-stats {
    word-wrap: none;
}

.about-skills-stats-good {
    @include themed() {
        color: theme-get($text-color);
    }
}

.about-skills-stats-working {
    @include themed() {
        color: theme-get($text-disabled);
    }
}

@media only screen and (max-width: 1000px) {
    .about-img-social-container {
        flex-basis: 100%;
    }
    .about-sum-tech-container{
        flex-basis: 100%;
    }
}

b {
    @include themed() {
        color: theme-get($head);
    }
}