.about-body {

}

.about-side-tab {
    display: inline-grid;
    width: 300px;
}

.about-image-container {

}

.about-image {
    border-radius: 150px;
}

.about-social-media {

}

.about-content {
    display: inline-grid;
    min-width: 300px;
    max-width: 600px;
}